

<h1> Pesquisa de satisfação</h1>

<h3>Olá <%=@ticket.user_name%> de acordo com o o ticket: <%=@ticket.ticket_code%> como você avalia o atendimento?</h3>


<%(1..10).each do |n| %>
  <%= link_to n, surveys_new_url(uuid: @ticket.uuid, rate: n)%>
<% end %>







